body{
    font-family: $base-font-family;
}
.header {
    background-image: url(../images/image-hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 90%;
    height: 38vh;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;

    }

    &__wrapper {
        display: none;
        &.active {
            background-color: $color-omega;
            background: linear-gradient(0deg, rgba(255,255,255,0.8575630935968137) 6%, rgba(0,0,0,0.891176538974965) 44%);
            opacity: 0.6;
            z-index: 9;
            position: fixed;
            height: 100%;
            width: 100%;
            top:0;
            left: 0;
            visibility: visible;
            display: block;
        }
    }

    &__button {
        cursor: pointer;
        width: 100%;
        height: auto;
        margin-top: 24px;
        display: block;
        background: transparent;
    }
    &__logo {
        width: 140px;
        height: 23px;
        margin-top: 24px;
        display: block;
    }

    &__icon-mobile  {
        height: 23px;
        position: absolute;
        top: 1.5%;
        right: 4%;
        margin: 13px 5px 0 0;
        &--close {
            display: none;
            &.active {
                display: block;
                z-index: 102;
                position: relative;
            }
        }
        &--open {
            display: none;
            &.active {
                display: block;
            }
        }
    }

    &__closure {
        position: absolute;
        top: 3%;
        right: 6%;
        font-weight: $font-weight-bold;
        color: $color-sigma;
        height: 40px;

    }

}

.nav {
    
    display: none;
        &.active {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 25%;
            left: 50%;
            height: 200px;
            width: 350px;
            background-color: $color-sigma;
            list-style: none;
            border-radius: 7px;
            align-items: left;
            z-index: 101;
            transform: translate(-50%, -50%);
        }

    &__item {
        padding: 4% 0 4% 6%;
        height: 33.3%;
        border-bottom: 1px solid lightgray;
    }

    &__item:last-child {
        padding: 4% 0 4% 6%;
        height: 33.3%;
        border-bottom: none;
    }

    &__link {
        font-size: 1.2rem;
        color: $color-omega;
        font-weight: $font-weight-medium;
        
    }

    &__link:hover {
        font-size: 1.2rem;
      
    }

}

.main {
    text-align: center;
    background-color: $color-lambda;
    padding: 30px 0;
    .main__description {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        border: 1px solid $color-mu;
        padding: 30px;
        border-radius: 10px;
        background-color: $color-sigma;
        position: relative;
        bottom: 83px;

        .description__logo {
            position: relative;
            bottom: 60px;
            height: 60px;
            width: 60px;
        }

        .description__title {
            font-size: 1.5em;
            position: relative;
            top: -45px;

        }
    
        .description__text {
            color: $color-gamma;
            font-size: 0.9em;
            margin-top: -25px;
        }

        .description__wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

        }

        .description__button {
            background-color: $color-alpha;
            width: 220px;
            height: 60px;
            border-radius: 10rem;
            color: $color-mu;
            cursor: pointer;
            padding: 5px;
            font-weight: $font-weight-bold;
            line-height: 1.4px;
            font-size: 1.1em;
            &:hover{
                background-color: $color-beta;
            }
        }

        .description__bookmark {
            height: 60px;
            width: 60px;
        }

        .description__name {
            display: none;
        }

    }
    .main__budget {
        text-align: center;
        max-width: 90%;
        margin: -55px auto 20px auto;
        border: 1px solid $color-mu;
        padding: 20px;
        border-radius: 10px;
        background-color: $color-sigma;

        .budget__total,
        .budget__donors,
        .budget__days {
            margin-top: 30px;
        }

        .budget__number {
            font-weight: $font-weight-bold;
            font-size: 1.6em;
            margin-bottom: 8px;
            &--budget,
            &--user {
                font-weight: $font-weight-bold;
                font-size: 1.6em;
                margin-bottom: 8px;

            }
        }

        .budget__text {
            color: $color-gamma;
        }


        .budget__progess-bar {
            width: 95%;
            height: 20px;
            background-color: $color-mu;
            display: flex;
            align-items: center;
            margin: 20px 0 20px 0;
            border-radius: 10px;

            .budget__bar-inside {
                background-color: $color-alpha;
                width: 78%;
                height: 80%;
                border-radius: 10px;
                margin-left: 3px;
            }

        }
    }

}

.main__details {
    text-align: left;
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid $color-mu;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-sigma;

    .details__title {
        margin: 15px 0 15px 0;
    }

    .details__text {
        line-height: 1.4rem;
        margin-bottom: 25px;
    }

    .details__scheme {
        margin: 20px auto;
        border: 1px solid $color-psi;
        padding: 25px;
        border-radius: 10px;
        &:nth-child(n+2) > .scheme__wrapper > button:hover {
            background-color: $color-beta;
         }


        .scheme__button {
            background-color: $color-alpha;
            width: 150px;
            height: 50px;
            border-radius: 10rem;
            color: $color-mu;
            cursor: pointer;
            padding: 7px;
            font-weight: $font-weight-bold;
            line-height: 1.4px;
            margin-top: 10px;
            font-size: 0.9em;
        }

        .scheme__title{
            font-size: 1.2rem;
        }

        .scheme__subtitle {
            color:  $color-alpha;
            margin: 5px 0 20px 0;
            line-height: 1.5rem;
            font-size: 1rem;
        }

        .scheme__description {
            line-height: 1.5rem;
            margin-bottom: 15px;
        }

        .scheme__number {
            margin: 10px 0 10px 0;
            display: flex;
    
            .scheme__number-detail {
                font-weight: $font-weight-bold;
                display: block;    
                margin-right: 10px;
                font-size: 1.6em;
            }

            .scheme__text {
                margin-top: 6px;
            
            }
        }
        
    }

    .details__scheme:last-child > button {
        background-color: $color-gamma;
        &:hover {
            background-color: $color-gamma;
        }
    }

    .details__scheme-wrapper {
        background-color: $color-sigma;
        opacity: 0.6;
        z-index: 88;
    }

}

.modal {
    text-align: left;
    max-width: 92%;
    margin: 100px auto 0 auto;
    border: 1px solid $color-mu;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-sigma;
    position: absolute;
    &::backdrop {
        background-color: $color-omega;
        opacity: 0.6;
    }


    
    &__main {
        padding: 20px;
        color:$color-omega;
    }


    &__scheme {
        margin: 20px auto;
        border: 1px solid $color-psi;
        padding: 25px 25px 15px 25px;
        border-radius: 10px;
        &.active {
            border: 2px solid $color-alpha;
        }
    }

    &__text {
        margin-top: 15px;
        color: $color-gamma;
        font-size: 0.9em;
        line-height: 1.3rem;

    }

    &__description {
        color: $color-gamma;
        line-height: 1.3rem;
        margin-bottom: 15px;
        font-size: 0.9em;
        
    }


    &__button {
        background: transparent;
        position: absolute;
        left: 85%;
        top: 44px;
    }

    &__subtitle {
        color:  $color-alpha;
        margin: 5px 0 20px 0;
        line-height: 1.5rem;
    }

    &__number {
        margin: 10px 0 25px 0;
        display: flex;
        .modal__number-detail {
            font-weight: $font-weight-bold;
            display: block;    
            margin-right: 10px;
            font-size: 1.6em;
        }
        .modal__text-detail {
            margin-top: 6px;
        
        }
    }

    &__scheme-wrapper {
        background-color: $color-sigma;
        opacity: 0.6;
        z-index: 88;

    }

    &__pledge {
        padding: 5px 20px;
        text-align: center;
        display: none;
        &.active {
            display: block;
            border-top: 1px solid $color-psi;
        } 
        


        .pledge__wrapper {
            display: flex;
            justify-content: space-between;
        }

        .pledge__text {
            color: $color-gamma;
            line-height: 1.1rem;
            margin: 20px 0 15px 0;
            font-size: 0.9em;
        }

        .pledge__button {
            background-color: $color-alpha;
            width: 120px;
            height: 50px;
            border-radius: 10rem;
            color: $color-mu;
            cursor: pointer;
            padding: 5px;
            font-weight: $font-weight-bold;
            line-height: 1.4px;
            font-size: 0.9em;

        }

        .pledge__input {
            width: 100px;
            border: solid 1px $color-psi;
            border-radius: 10rem;
        }

        .pledge__number {
            width: 40%;
            position: relative;
            top: 5px;
            left: 10px;
            height: 40px;
            border-radius: 10rem;
            font-weight: $font-weight-bold;
            
        }

        .pledge__currency {
            position: relative;
            top: 5px;
            color: $color-gamma;

        }
    }


    &__radio {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;

        .radio__input {
            display: none;
            &:checked + .radio__radio::after {
                transform: scale(0.6);
            };
            
        }

        .radio__radio {
            width: 1.5em;
            height: 1.5em;
            border: 1px solid $color-gamma;
            border-radius: 50%;
            margin: 0 12px 12px 0;
            padding: 1px;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                background: $color-alpha;
                transform: scale(0);
                transition: transform 0.15s;


            }
        }


    }
   
}
  
.final {
    background-color: $color-sigma;
    text-align: center;
    max-width: 90%;
    margin: 130px auto 0 auto;
    border: 1px solid $color-mu;
    padding: 40px 30px;
    border-radius: 10px;
    position: absolute;
    &::backdrop {
        background-color: $color-omega;
        opacity: 0.6;
    }

        &__image {
            width: 60px;
            height: 60px;
        }

        &__title {
            margin: 22px 0 20px 0;
        }

        &__text {
            margin-bottom: 32px;
            line-height: 1.4em;

        }

        &__button {
            background-color: $color-alpha;
            width: 120px;
            height: 50px;
            border-radius: 10rem;
            color: $color-mu;
            cursor: pointer;
            padding: 4px;
            line-height: 1.4px;
            font-size: 0.9em;
            font-weight: $font-weight-bold;
        }

    
}



